.cartItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}
.product {
    display: flex;
    align-items: center;
}
.product img {
    width: 100px;
    height: 100px;
    margin-right: 50px;
}
.quantity {
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.removeCartItem > button,  .quantity > button {
    padding: 3px 10px;
    background: #333;
    border: 1px solid #333;
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
}
.removeCartItem > button {
    margin: 0;
    margin-top: 15px;
}