.nav {
    width: 100%;
    background-color: rgb(223, 225, 225);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo {
    margin-left: 50px;
}
.links {
    margin-right: 50px;
}
.links a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
}
.cartLink {
    position: relative;
}
.numCart {
    position: absolute;
    top: -15px;
    right: -10px;
    background-color: rgb(246, 72, 72);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
:global(.active) {
    border-bottom: 1px solid #333;
}